.photo {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #0e1621;
}

.photo-container {
  width: 364px;
  min-height: 452px;
  background-color: #17212b;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 284px;
  height: 308px;
  overflow: hidden;
  border-radius: 50%;
}

.photo-wrap img {
  min-width: 284px;
}

.photo__subtitle {
  color: #7f91a4;
  font-size: 14px;
}

.photo-form {
  align-self: flex-end;
}

.photo__button {
  padding: 13px;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
  color: #5288c1;
  border-radius: 10px;
}

.photo__button:hover {
  background-color: #202e3c;
}

.photo__button:first-child {
  margin-right: 10px;
}